<!-- First news -->
    <div class="news">

        <!-- Label -->

        <!-- Excerpt -->
        <div class="excerpt">

            <!-- Brief -->
            <div class="brief">
                <em class="name" href="#"><strong><%= message.user.username %></strong></em>: <%= message.body %>
            </div>
        </div>
        <!-- Excerpt -->

    </div>
<!-- First news -->