<div align="center">
    <%= image_tag("iconheader.png", :alt => "icon header", class: "image") %>
    <h5>Say Something</h5>
</div> 

<div class="row">
<div class="col-md-8">

<div class="card bg-light chatbox">
<div class="container my-4">

<!-- Section: Social newsfeed v.1 -->
<section class="my-0">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-12">

      <!-- Newsfeed -->
      <div class="mdb-feed">
        <%= render @messages %> 
      </div>
      <!-- Newsfeed -->

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Social newsfeed v.1 -->

</div>

</div>
<div class="card card-footer">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Enter a message..." aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fa fa-pencil-square fa-lg"></i></span>
    </div>
  </div>
</div>
</div>

<div class="card bg-light chatbox" style="padding-top: 30px;">
<div class="col-md">
<nav class="nav flex-column container col-xl">
  <a class="nav-link active btn btn-dark" href="#">Active</a>
  <a class="nav-link btn btn-dark" href="#">Link</a>
  <a class="nav-link btn btn-dark" href="#">Link</a>
  <a class="nav-link btn btn-dark" href="#">Disabled</a>
</nav>
</div>
</div>

</div>